
@font-face {
    font-family: 'FnafFont';
    src: url("../icons/five-nights-at-freddys.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*>* {
    user-select: none;
    font-family: 'FnafFont';
}

html {
    background-color: black;
    user-select: none;
}

body {
    margin: 0px !important;
    overflow: hidden;
}

.warning {
    font-size: 2em;
    padding: 5px;
    text-align: center;
    color: rgb(131, 1, 1);
    background-color: rgb(209, 207, 207);
    margin-top: 4vh;
}

body { display:block; }
@media only screen and (orientation:portrait){
  body > div:not(.warning) {
    display:none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}